.main-container {
  height: 100vh;
  width: 100%;

  header {
    height: 50px;
    width: 100%;
    text-align: center;
  }

  .content-wrapper {
    height: calc(100% - 50px);
    width: 100%;
    overflow-y: auto;
    display: flex;
  }

  .sidenav {
    height: 100%;
    overflow-y: auto;
    width: 300px;
  }
}
