<main class="main-container">
  <header><h1>All Transitions</h1></header>
  <section class="content-wrapper">
    <nav class="sidenav">
      <ul>
        <li>
          <a routerLink="/basic-transitions" routerLinkActive="active">
            Basic Transitions
          </a>
        </li>
        <li>
          <a routerLink="/transform-2d" routerLinkActive="active">
            Transform 2D
          </a>
        </li>
        <li>
          <a routerLink="/transform-3d" routerLinkActive="active">
            Transform 3D
          </a>
        </li>
      </ul>
    </nav>
    <div class="router-wrapper">
      <router-outlet></router-outlet>
    </div>
  </section>
</main>
