<figure>
  <img class="translate-1" src="assets/images/kitten.jpeg" alt="Kitten" />
  <figcaption>Translate.</figcaption>
</figure>
<figure>
  <img class="scale-2" src="assets/images/kitten.jpeg" alt="Kitten" />
  <figcaption>Scale.</figcaption>
</figure>
<figure>
  <img class="rotate-3" src="assets/images/kitten.jpeg" alt="Kitten" />
  <figcaption>Rotate.</figcaption>
</figure>
<figure>
  <img class="skew-4" src="assets/images/kitten.jpeg" alt="Kitten" />
  <figcaption>Skew.</figcaption>
</figure>

<figure>
  <img class="origin-5" src="assets/images/kitten.jpeg" alt="Kitten" />
  <figcaption>Transform origin.</figcaption>
</figure>
